name: 'ci'
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main
jobs:
  test-webpack5:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Pnpm
        run: |
          npm install -g corepack@latest --force
          corepack enable
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '20'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm pretest
      - run: pnpm test

  test-webpack5-inline-match-resource:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Pnpm
        run: |
          npm install -g corepack@latest --force
          corepack enable
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '20'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm pretest:match-resource
      - run: pnpm test:match-resource
